<!-- goes through each post in the posts array from homeroutes.js -->
{{#each posts as |post| }}
<div class="readpost-cards">
            <div class="readpost-header">
                <div class="readpost-title">
                    <p><a href="/readpost/{{post.id}}">{{post.post_title}}</a></p>
                    <p>Created by {{post.post_author}} on {{format_date post.date_created}}</p>
                </div>
            </div>
        <div class="readpost-text">{{post.post_content}}hello</div>
        {{#if logged_in}}
        <button class="createpost-btn">+ New Post</button>
        {{else}}
        <a href="/views/partials/login.handlebars">Login</a>
        {{/if}}
        </div>