{{!-- <a href="/newpost/{{id}}"> --}}
    <div class="readpost-cards">
        <div class="readpost-header">
            <div class="readpost-title">
            {{post.post_title}}</p></div>
            <p>Created by {{post.user_username}} on {{format_date post.post_date}}</p></div>
            <div class="readpost-text"><p>{{post.post_content}}</p></div>
    </div></a>