<div class="readpost-cards">
    <div class="readpost-header">
        <div class="readpost-title" {{id}}>
            <p class={{post.post_title}}>Posted by {{post.user.username}} at {{ post.post_date}}</p>
        </div>
    </div>
    <p class="readpost-text">{{post.post_content}}</p><br>
</div>
</div>
<div class="saved-comment">
    {{#each post.comments}}
    <p>{{ content }}</p>
    {{/each}}
</div>

{{!-- /<div class="readcomment-card"> {{ comment.content }} this is a comment<br></div> --}}
<div class="createcomment-card">
    <form class="createcomment-form">
        <textarea name="comment" id="comment-textarea" placeholder="Write comment here"></textarea><br>
        <button class="btn comment-button">Submit Comment</button>
    </form>
</div>
<a href="/createpost">Create a new post</a>

{{!-- <button class="createpost-btn">+ New Post</button> --}}

<a href="/login">Login</a>

<script src="/js/comment.js"></script>