<div class="readpost-cards">
         <div class="readpost-header">
            <div class="readpost-title">{{post.id}} {{post.post_title}}</div>
            <p class="author">Posted by {{user.username}} at {{format_date post.post_date}}</p>
            <p class="readpost-text">{{post.post_content}}</p><br>
        </div>
</div>

<div class="readcomment-card">
    {{ post.comments }}
</div>

    <script src="/js/comment.js"></script>