<div class="readpost-cards">
         <div class="readpost-header">
            <div class="readpost-title">{{post.id}} {{post.post_title}}</div>
            <p class="author">Posted by {{user.username}} at {{format_date post.post_date}}</p>
            <p class="readpost-text">{{post.post_content}} hello</p><br>
        </div>
</div>

<div class="readcomment-card">
    {{ comment.content }}
</div>

    <script src="/css/js/createcomment.js"></script>